<table>
  <tbody>
    <tr>
      <th>Accept Status</th>
      <td>
	<%= select_tag('settings[accept_status]',
	options_for_select(IssueStatus.all.sorted.map{|s| [s.name, s.name]}, @settings['accept_status'])) %>
      </td>
    </tr>
  </tbody>
</table>

