<table>
  <tbody>
    <tr>
      <th>l(:accept_status)</th>
      <td>
	<%= select_tag('settings[accept_status]',
	options_for_select(IssueStatus.sorted.all.map{|s| [s.name, s.name]}, @settings['accept_status'])) %>
      </td>
    </tr>
  </tbody>
</table>

